@font-face {
  font-family: "Lilita";
  src: url(./Fonts/LilitaOne-Regular.ttf);
}

@font-face {
  font-family: "Montserrat";
  src: url(./Fonts/Montserrat-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Jost";
  src: url(./Fonts/Jost-Italic-VariableFont_wght.ttf);
}

*{
  padding: 0;
  margin: 0;
  color: white;
  box-sizing: border-box;
  font-family: "Montserrat";
}

body{
  background-image: linear-gradient(to bottom, #190221, #1f072e, #27083d, #2e084c, #36065b, #400667, #4a0472, #54027e, #630287, #720290, #820199, #9200a1);
  background-repeat: no-repeat;
  padding: 20px;
  display: flex;
  justify-content: center;
}

h1, h2{
  font-family: "Lilita";
  letter-spacing: 2px;
}

.about{
  display: flex;
  gap: 300px;
  justify-content: center;
  align-items: center;
}

.about p{
  margin-bottom: 20px;
}

.profile-pic{
  animation: slidein 1s ease-in 0.2s 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.profile-pic img{
  max-height: 240px;
  border-radius: 80%;
}

.profile-pic h1{
  font-size: 44px;
  text-align: center;
}

.about h2{
  font-size: 32px;
  margin-bottom: 20px;
}

.about-me{
  animation: slidedown 1s ease-in-out 0.2s 1;
  margin-top: 10px;
  font-size: 20px;
  max-width: 1000px;
}


a:hover,
a:hover p{
  color: grey;
}

.project-preview{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 48px;
  align-items: center;
  margin-top: 80px;
  animation: fadein 2.5s ease-in-out 2s 1 forwards;
  opacity: 0;
}

.project-preview h2{
  font-family: "Jost", sans-serif
}

.project-preview .arrow{
  animation: pointdown 0.8s ease-in 3s 3 forwards;
}

.projects{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 15vh;
  opacity: 0;
}

.project-item{
  background-color: rgb(212, 133, 212);
  border-radius: 28px;
  padding: 18px;
  max-width: 30%;
}

.project-item *{
  padding-bottom: 10px;
  color: rgb(0, 0, 0);
}

.title-and-icons{
  display: flex;
  justify-content: space-between;
}

.video-div{
  display: flex;
  justify-content: center;
}

.visible{
  animation: fadein 2.5s ease-in-out 2s 1 forwards;
}

svg:hover path{
  color: gray;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10vh;
  font-size: 24px;
  gap: 10px;
}

footer h2{
  font-size: 32px;
}

.contact-icons{
  display: flex;
  flex-direction: column;
}

.contact-icons a{
  display: flex;
  gap: 18px;
  align-items: center;
}

@keyframes slidein {
  from{
    opacity: 0%;
    transform: translateX(-400px);
  }
  to{
    opacity: 100%;
  }
}

@keyframes slidedown {
  from{
    opacity: 0%;
    transform: translateY(-400px);
  }
  to{
    opacity: 100%;
  }
}

@keyframes fadein {
  from{
    opacity: 0%;
  }
  to{
    opacity: 100%;
  }
}

@keyframes pointdown {
    50%{
      transform: translateY(20px);
    }
}